# --- Environment files ---
.env

# --- Python ---
__pycache__/
*.pyc

# --- Airflow files ---
airflow/logs/
airflow/*.db
airflow/*.db-shm
airflow/*.db-wal
airflow/*.pid
airflow/simple_auth_manager_passwords.json.generated

# --- Docker ---
*.pid

# --- VS Code ---
.vscode/

# --- OS / Misc ---
.DS_Store
Thumbs.db
